.header{
    height: 134px;
    background-color:#EDF2EC;
    margin: 0;
}

.logoHeader{
    width: 90px;
    height: 21.04px;
    padding-top: 52px;
    padding-left: 111px;
    padding-top: 61px;
}

.plantsAvatarHeader{
    float: left;
    width: 20px;
    height: 20px;
    left: 111px;
    top: 52px;
}

.plantsTextHeader{
    width: 58.13px;
    height: 17px;
    left: 132.05px;
    top: 56.04px;
    float: left;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.nav{
    float: right;
    width: 600px;
    height: 50px;
    left: 879px;
    top: 42px;
    margin-right: 230px;
}

.navMenuItem{
    list-style-type: none;
    display: inline; 
    padding: 6px;
}

.navMenuItem{
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    margin-right: 35px;
}

.navMenuItem:visited{
    text-decoration: none;
}

.navMenuHome{
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #E06733;
    margin-right: 35px;
}

.navMenuItem:hover{
    color:#E06733;
    transform: translate(0em, 0.75em);
}

li{
    display: inline-block;
}

.homeHeader{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.welcome{
    height: 532px;
    background-color:#EDF2EC;
}

.welcomeSection{
    position: absolute;
    width: 549px;
    height: 340px;
    left: 782px;
    top: 90px;
}

.plantsGreen{
    color: #499A18;
}

.welcomeTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    padding-top: 98px;
    color: #717171;
}

.welcomeText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcomeButton{
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #EDF2EC;
}

.welcomeButton:active {
    background:#E06733;
    transform: translate(0em, 0em);
    color: white;
}
.welcomeButton:active::before {
    background: #EDF2EC;
  }

.leafs{
    padding-top: 62px;
    padding-left: 109px;
}

.about{
    background-color:#FFFFFF;
    height: 666px;
}

.houseplant{
    width: 1222px;
    height: 479px;
    left: 109px;
    top: 93px;
}

.aboutAvatar{
    position: absolute;
    width: 464px;
    height: 470px;
    margin-top: 93px;
    left: 950px;
}

.aboutText{
    width: 605px;
    height: 350px;
    left: 109px;
    top: 161px;
    padding-top: 161px;
    padding-left: 109px;
}

.aboutHeader1{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.orange{
    color: #E06733;
}

.aboutParagraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service{
    background-color:#EDF2EC;
    height: 1300px;
}

.serviceHeader1{
    width: 506px;
    height: 94px;
}

.serviceHeader2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-top: 40px;
    padding-left: 150px;
}

.serviceButton{
    width: 659px;
    height: 50px;
    float: right;
    padding-right: 360px;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.serviceButton button{
    width: 170px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-right: 38px;
    background: #EDF2EC;
}

.serviceButton button:active{
    background:#E06733;
    transform: translate(0em, 0em);
    color: white;
}

.serviceButton button::before{
    background: #EDF2EC;
}

.serviceContent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 180px;
    padding-bottom: 121px;
}

.serviceContent img{
    margin-right: 116px;
}

.serviceContent h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.serviceContent p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
}

.gardenCareText1{
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-bottom: 55px;
}

.plantingText{
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-bottom: 55px;
}

.lawnCareText{
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-bottom: 55px;
}

.plantingText1{
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-bottom: 55px;
}

.gardenCareText2{
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-bottom: 55px;
}

.plantingText2{
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-bottom: 55px;
}

.gardensBtn{
    width: 81px;
    height: 26px;
    left: 597px;
    top: 81px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
}

.price{
    justify-content: space-between;
    display: flex;
    background-color:#FFFFFF;
    width: 100%;
    height: 560px;
}

.priceMenu{
    width: 332px;
    height: 391.01px;
}

.prices{
    height: 282px;
    width: 400px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-left: 109px;
    text-align: center;
    padding-top: 34px;
}   

.radio{
    width: 300px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    margin-left: 45px;
    margin-bottom: 32px;
}

.priceMenuHeader{
    padding-top: 40px;
    padding-left: 109px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.connectionTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    padding-top: 20px;
}

.spanGardeners{
    color: #499A18;
}

.connection{
    width: 502px;
    height: 191px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-right: 120px;
}


.contactUs{
    width: 170px;
    height: 50px;
    float: right;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    box-sizing: border-box;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.contactUs:active{
    background:#E06733;
    transform: translate(0em, 0em);
    color: white;
}

.contactUs::before{
    background: #EDF2EC;
}

.picture{
    float: right;
    width: 185px;
    height: 195px ;
    padding-top: 39px;
    padding-left: 850px;
}

.connectionPicture{
    float: right;
}

.contacts{
    background-color:#EDF2EC;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contactsHeader1{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contactWoman{
    width: 400px;
    height: 496px;
    padding-left: 109px;
    padding-top: 53px;
}

.cityInput{
    box-shadow: none;
    width: 400px;
    height: 30px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(97, 94, 94, 0);
    border-radius: 0px;
    margin-top: 150px;
    margin-right: 110px;
}

.cityInput:active{
    background: #C1E698;
}

.cityInput::before{
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.footer{
    background-color:#FFFFFF;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gitHubContainer{
    height: 50px;
    width: 320px;
    margin-top: 40px;
    margin-right: 109px;
    margin-bottom: 40px;
}

.gitHubHref{
    text-decoration: none;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin-left: 109px;
    text-align: left;
}

.rssContainer{
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.rss{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding-right: 115px;
}

.rssHref{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.links{
    width: 200px;
    height: 50px;
    float: right;
    margin-right: 110px;
}
